/*****************************************************************************************************
*****************************************************************************************************
global
*****************************************************************************************************
*****************************************************************************************************/

body, html {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.is-stretch {
  width: 100%;
  height: 100%;
}

.is-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.is-wrapper {
  position: relative;
}

.is-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}

.card {
  margin: 1rem 0;
}

.square {
  position: relative;
  width: 100%;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.tiny, .tiny * {
  font-size: 0.8rem;
  text-transform: uppercase;
}

.transition * {
  transition: all 0.8s ease;
}

.hidden {
  opacity: 0;
}

.dead {
  display: none;
}

#main {
  background-color: #f5f5f5;
}

#app {
  max-width: 25rem;
}


/*****************************************************************************************************
*****************************************************************************************************
game
*****************************************************************************************************
*****************************************************************************************************/

#game {
  height: 25rem;
}

#game #board .column {
  height: 50%;
  padding: 0.5rem;
}

#game #board .button {
  height: 100%;
  width: 100%;
  border-radius: 1rem;
}


/*****************************************************************************************************
*****************************************************************************************************
dash
*****************************************************************************************************
*****************************************************************************************************/

#dash {
  border-top: 1px solid #dbdbdb;
}

#game #board .column {
  height: 50%;
}

#dash #control .button, #dash #control .input {
  height: 100%;
  width: 100%;
  padding: 0.5rem;
  border-radius: 1rem;
}
